* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
header,
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tytul{
  font-size: 5rem ;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
  margin-bottom: 7vh;
  margin-top: 7vh;
  padding: 5%;
  border: 1px solid gray;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
label {
  font-size: 1rem;
  padding: 0.1em;
}
input {
  padding: 2vh 5vw;
  font-size: 1rem;
}
button, .btn {
  background-color: rgb(255, 37, 37);
  color: white;
  cursor: pointer;
  width: 100%;
  margin: 4.5vh auto;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
button:hover, .btn:hover {
  background-color: rgb(225, 17, 17);
}
a {
  text-decoration: none;
  color: black;
}
.red {
  color: red;
}
.centra {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.obraz{
  margin-left: 5vw;
}
.m0{
  margin: 0;
}
.centra1{
  margin-left: 5vw;
}
.log{
  margin-bottom: 7.5vh;
}
.toggleBtn{
  cursor: pointer;
}
.ikona{
    font-size: 3rem;
    position: absolute;
    right: 0;
    padding: 1vw;
}
.formula{
    width: 100%;
}
.credits{
  display: flex;
  justify-content: center;
  color: gray;
  margin-bottom: 2vh;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  label {
    font-size: 0.95rem;
  }
  input {
    padding: 1vh 4vw;
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
    padding: 1.5vh 15vw;
  }
  .formula{
    width: 100%;
  }
  .btn{
    font-size: 1rem;
    padding: 1.5vh 15vw;
  }
  .obraz{
    margin-left: 15vw;
  }
  .log{
    margin: 5vh, auto;
  }
  .centra1{
  margin-left: 22vw;
  }
  .ikona{
    font-size: 1rem;
    position: absolute;
    right: 0;
    padding: 1vw;
  }
  form{
    width: 80vw;
  }
  .log{
    margin: 5vh auto;
  }
  .tytul{
    font-size: 3rem;
  }
  .ikona{
    font-size: 2rem;
    position: absolute;
    right: 0;
    padding: 4vw;
    padding-top: 2.35vh;
  }
}